{# <div class="myDiv"> #}

	{% for date, item in myDb %}
		<div class="day-card">
			<div class="day-card-date"><div>{{date.slice(8,10)}} {{numberToMonth(date.slice(5,7))}}</div><span>Документов: {{objectSize(item)}} ({{calculateDayAmount(item)}}руб.)</span></div>
			<div class="day-card-container hidden">
				{%for invoice, details in item%}
				
				<div class="invoice">
				<div class="invoice-count"><span>{{details[0].name}} №{{invoice}}</span> <span>{{calculateInvoiceAmount(details)}}руб.</span></div>
					<div class="goods-quantity">
						<span class="goods-quantity-opener"></span>
						<span>Товаров: {{details.length}}</span>
					</div>
					<div class="entry-panel">
					{%for detail in details%}
					<div  class="entry-panel-item">
						<img src="{{detail.image}}" onError="this.src='/noimage.jpg'">
						<div class="entry">
							<div class="entry-name-quantity">
								<div class="entry-name">{{detail.name__1.slice(0,35)}}{%if detail.name__1.length>35%}...{%endif%}</div>
								<div class="entry-quantity">{{detail.quantity}} штук{{getPieces(detail.quantity)}} x {{detail.price}} руб.</div>
							</div>
							<div class="entry-price">{{roundUp(detail.price,detail.quantity)}} руб.</div>
						</div>
					</div>
					{% endfor %}
					</div>
				</div>
				
				{% endfor %}
			</div>
			
		</div>
		{% endfor %}

{# </div> #}